[Unit]
Description=Timer para Relatorio GLPI: %i

[Timer]
# Segunda e Quinta às 08:00
OnCalendar=Mon,Thu *-*-* 08:00:00
Persistent=true

[Install]
WantedBy=timers.target